<section
  class="banner-cta"
  style="background-image: url('assets/banner-cta.png')"
>
  <div class="margin-title titulo-esquerda margin-block-lg">
    <h1 class="h1-wh">Faça parte você também</h1>
    <br>
    <p class="p-wh">
      Cadastre-se com seu número NIS para participar do projeto e receber
      energia mais barata.
    </p>
    <button class="btn-outline" routerLink="/sobre" routerLinkActive="active" ><a >Saiba Mais</a></button>
    <button class="btn-primary" routerLink="/cadastro" routerLinkActive="active"><a>Cadastre-se</a></button>
  </div>
</section>
