<section class="banner-home" style="background-image: url(assets/banner-home.png)">
  <div class="titulo-direita">
    <h1 class="h1-wh">Renovando a energia do Brasil</h1>
    <p class="p-wh">
      Saiba como ajudar a sociedade, o meio ambiente e ainda diminuir seu custo operacional.
    </p>
    <button type="button" routerLink="/solucao" routerLinkActive="active" class="btn-outline">
      Saiba Mais
    </button>
    <button type="button" class="btn-primary" routerLink="/cadastro" routerLinkActive="active">
      Cadastre-se
    </button>
  </div>
</section>
