<header style="background-color: #f9f9f9; margin-top: -8px">
  <nav class="flex-container">
    <div>
      <a routerLink="home" routerLinkActive="active"><img src="assets/logo-biogen.png" alt="Logotipo Biogen" class="logo-nav"/></a>

    </div>
    <div>
      <ul style="margin: auto">
        <li class="nav-btn"><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li class="nav-btn"><a routerLink="sobre" routerLinkActive="active">Quem Somos</a></li>
        <li class="nav-btn"><a routerLink="solucao" routerLinkActive="active">Solução</a></li>
        <li class="nav-btn"><a routerLink="parceiros" routerLinkActive="active">Parceiros</a></li>
      </ul>
    </div>
    <div>
      <a routerLink="cadastro" routerLinkActive="active" class="btn-primary">Cadastre-se</a>
    </div>
    <div>
      <a class="h1-gr" style="margin-inline: 20px" routerLink="login" routerLinkActive="active"
        ><i class="fa fa-user" aria-hidden="true"></i
      ></a>
    </div>
  </nav>
</header>
