<section class="respiro flex-container">
    <div>
      <img
        class="image-layout"
        src="assets/recicla.png"
        alt="Simbolo de reciclagem"
      />
    </div>
    <div>
      <h1 class="h1-gr text-layout-1">#EnergiaLimpa</h1>
      <div class="div-bn">
        <h2 class="h2-big-number text-layout-2">+8700</h2>
        <h3 class="text-layout-2" style="color: #016c62">
          Famílias Atendidas
        </h3>
      </div>
      <div class="div-bn">
        <h2 class="h2-big-number text-layout-2">753</h2>
        <h3 class="text-layout-2" style="color: #016c62">
          Empresas Cadastradas
        </h3>
      </div>
      <div class="div-bn">
        <h2 class="h2-big-number text-layout-2">7587t</h2>
        <h3 class="text-layout-2" style="color: #016c62">
          Biomassa Processadas
        </h3>
      </div>
      <div class="div-bn">
        <h2 class="h2-big-number text-layout-2">8773MW</h2>
        <h3 class="text-layout-2" style="color: #016c62">
          Energia Gerada
        </h3>
      </div>
    </div>
  </section>
  <section
    class="respiro"
    style="margin-inline: 13%; background-color: #ffffff"
  >
    <div>
      <h1 class="h1-gr" style="text-align: center">Como Fazemos</h1>
    </div>


    <div class="container">
      <div class="card">
          <img src="assets/processo 1.png" alt="Descrição da imagem 1" class="card-img">
          <div class="card-body">
              <h5 class="card-title h2-gr">Resíduo Produzido</h5>

          </div>
      </div>
      <div class="card">
          <img src="assets/processo 2.png" alt="Descrição da imagem 2" class="card-img">
          <div class="card-body">
              <h5 class="card-title h2-gr">Gerador de Bioenergia</h5>

          </div>
      </div>
      <div class="card">
          <img src="assets/processo 3.png" alt="Descrição da imagem 3" class="card-img">
          <div class="card-body">
              <h5 class="card-title h2-gr">Energia liberada</h5>

          </div>
      </div>
      <div class="card">
          <img src="assets/processo 4.png" alt="Descrição da imagem 4" class="card-img">
          <div class="card-body">
              <h5 class="card-title h2-gr">Família atendida</h5>

          </div>
      </div>
  </div>


    <!--<div class="container">
      <div id="processo">
        <div>
          <img
            class="image-layout padding-img1"
            src="assets/processo 1.png"
            alt=""
          />
        </div>
        <div id="processo1">
          <h2 class="h2-gr" style="text-align: center">Resíduo Produzido</h2>
        </div>
      </div>
      <div id="processo">
        <div>
          <img
            class="image-layout padding-img1"
            src="assets/processo 2.png"
            alt=""
          />
        </div>
        <div id="processo1">
          <h2 class="h2-gr" style="text-align: center">
            Gerador de Bioenergia
          </h2>
        </div>
      </div>
      <div id="processo">
        <div>
          <img
            class="image-layout padding-img1"
            src="assets/processo 3.png"
            alt=""
          />
        </div>
        <div id="processo1">
          <h2 class="h2-gr" style="text-align: center">Energia Liberada</h2>
        </div>
      </div>
      <div id="processo">
        <div>
          <img
            class="image-layout padding-img1"
            src="assets/processo 4.png"
            alt=""
          />
        </div>
        <div id="processo1">
          <h2 class="h2-gr" style="text-align: center">Família Atendida</h2>
        </div>
      </div>
    </div>-->

  </section>
  <section
    class="banner-home"
    style="
      background-image: url(assets/mascara-folha.png);
      padding-block: 30%;
    "
  >
    <div>
      <div class="titulo-direita">
        <h1 class="h1-wh">Mudando o mundo com energia</h1>
        <p class="p-wh">

          Com o Biogen, famílias que antes enfrentavam dificuldades com o alto
          custo da energia elétrica agora têm acesso a uma solução acessível e
          sustentável. Nosso compromisso é melhorar a qualidade de vida dessas
          comunidades, proporcionando uma fonte de energia confiável e amiga
          do meio ambiente.<br /><br />

          Junte-se a nós nessa jornada de transformação energética. Ao apoiar
          o Biogen, você está investindo em um futuro mais sustentável e
          equitativo para todos. Venha fazer parte dessa iniciativa que está
          mudando vidas e construindo um amanhã mais brilhante.
        </p>
        <button class="btn-outline" routerLink="/sobre" routerLinkActive="active">Conheça o projeto</button>
      </div>
    </div>
  </section>
