
<div class="containersol">
  <div>
    <h1 class="h1-gr" style="text-align: center;">Solução</h1>

    <div id="infosol">
      <div id="infosol2">
        <div class="grid-item">
          <h3>
            A solução será implementada por meio de um site que será
            responsável por:
          </h3>
          <div>
            <p>
              • Cadastro de fornecedores de energia (indústria alimentícia,
              etc.).
            </p>
            <p>• Cadastro de Receptores de Energia por meio do NIS.</p>
            <p>• Controle de tendais de material orgânico processado.</p>
            <p>
              • Controle de plantas de energia com dados obrigatórios de
              cada fornecedor.
            </p>
            <p>• Canal de educação para fornecedores e população.</p>
          </div>
        </div>

        <div class="grid-item principaisdores" style='background-image: url("assets/baixarenda.png");'>
          <h3>Agricultores, pecuaristas e industria alimenticia</h3>
          <br />
          <h3>Principais dores:</h3>
          <br />
          <h3>Beneficios:</h3>
          <div>
            <p>• Direcionamento corretode residuos organicos.</p>
            <p>
              • Dificuldades que as grandes industrias alimenticias e
              pecuaristas temem realizar o aterro zero.
            </p>
            <p>• Reduçao na carga tributaria por meio de impacto social.</p>
            <p>• Direcionamento corre todos residuos organicos.</p>
            <p>• Baixo custo de manutenção para geraçao de energia.</p>
          </div>
        </div>
      </div>
      <div id="infosol2">
        <div class="grid-item">
          <h3>Benefícios:</h3>
          <p><b>Fornecedores:</b></p>
          <div>
            <p>• Acesso a dados sobre redução dos impostos;</p>
            <p>
              • Acesso a dados sobre quantidade de material orgânico
              processado por seu biodigestor;
            </p>
            <p>
              • Acesso a dados sobre quantidade de energia limpa gerada pelo
              seu sistema;
            </p>
            <p>
              • Acesso a dados sobre quantidade de residências beneficiadas
              pelo projeto.
            </p>
          </div>
          <p><b>Receptor:</b></p>
          <div>
            <p>• Participação do programa social.</p>
            <p>• Acesso aos cursos livres.</p>
          </div>
        </div>

        <div class="grid-item baixarenda" style='background-image: url("assets/principaldor.png");'>
          <h3>Moradores de Baixa Renda</h3>
          <br />
          <h3>Principais dores:</h3>
          <br />
          <div>
            <p>• Dificuldade de acesso à energia elétrica e baixo custo.</p>
            <br />
            <p>
              • Benefícios: Acesso a energia elétrica limpa e de baixo
              custo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <h2 class="h1-gr" style="text-align: center;">ODS's Atendidas com o Projeto</h2>
  <div class="section ods">
    <div id="imagemOds">
      <img src="assets/ods 7.png" alt="ODS 7" />
    </div>
    <div>
      <img src="assets/ods 10.png" alt="ODS 10" />
    </div>
    <div>
      <img src="assets/ods 12.png" alt="ODS 12" />
    </div>
    <div>
      <img src="assets/ods 13.png" alt="ODS 13" />
    </div>
  </div>
</section>

